page-home {
    
}
.name {
    font-size: 1.25rem;
    
}

.title {
    color: #F9DDBF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.searchbar {
    background-color: #D1A3A3;;
}

.but {
    margin: 20px 0;
}